# Values to set inside /etc/freeradius/3.0/mods-available/sql
sql {
    driver = "rlm_sql_mysql"
    dialect = "mysql"
    server = "localhost"
    port = 3306
    login = "radius"
    password = "<RADIUS-DB-PASSWORD>"
    radius_db = "radius"
}
